<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Wave Mandala</title>
    <link rel="icon" type="image/x-icon" href="/dist/favicon.ico">

  </head>
  <body>
    <script src="https://use.fontawesome.com/261081ae71.js"></script>
    <script src="/dist/wavemandala-webclient.js"></script>
    <script>(function(container){ Object.assign(container, {"wavemandala": {{ user or dict() |safe }} })})(window)</script>
    </script>
    <div id="app-container">
      <center>
        <h3>loading...</h3>
      </center>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-29557873-3', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
