- name: ensure wsgi folder
  file: path=/srv/wsgi state=directory


- name: install gunicorn upstart script
  template: src=gunicorn.upstart
    dest="/etc/init/python-app.conf"
    owner=root group=root mode=644
  notify: restart python-app
